@charset "UTF-8";

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    scroll-behavior: smooth;
}


body {
    box-sizing: border-box;
    background-color: black;
    color: white;
    
}

.header {
    position: fixed;              
    top: 0;                       
    left: 0;
    right: 0;

    margin: 0 auto;
        
    width: 100%;                  

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;

    background-color: black;
    z-index: 10;              
}

.header__inner {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.header_logo img{
    width: 70px;
}

.header_nav ul{
    display: flex;
    gap: 80px;
    list-style: none;
    padding-left: 0;
}


.header_nav a:hover{
    color: #E48F0D;
}

.header_contacts {
    text-align: right;
    font-size: 12px;
}

.header_contacts a{
    display: inline-block;
    text-decoration: none;
}

main {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    max-width: 1200px;
    background-image: url(./blackbike.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: black;
}

a {
    color: white;
}

.companyPhrase {
    font-size: 20px;
    padding-top: 20px;
}
.button_top {
    margin-top: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #E48F0D;
    width: 215px;
    height: 45px;
    font-size: 16px;
    transition: background 0.3s ease;
}

.button_top:hover{
    background: linear-gradient(to bottom, #3B4754, #657A90);
}

.highlight {
    color: #657A90;
}

.topcontent {
    text-align: left;
    max-width: 1200px;
    padding: 0 20px;
    width: auto;
    font-size: 56px;
    line-height: 1.2;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topcontent p{
    margin-top: 0;
    margin-bottom: 0px;
}

p.wordsAboutTeam {
    font-size: 18px;
    margin-top: 0;
}

h1 {
    margin-top: 0;
    font-size: 48px;
    text-align: center;
}

h3 {
    margin: 0 0;
    color: #657A90;
    font-size: 24px;
}

p.sectionDescription {
    text-align: center;
    max-width: 1200px;
    width: auto;
    border: 1px dotted #C9D3DD;
    font-size: 14px;
    padding: 40px;
    margin: 0 auto;
}

/* 私たちについて */

.about_us {
    padding-top: 150px;
    background: linear-gradient( #000000 0%,  #141F30 60%);
}
/* end*/


/* 特徴 */
.advantages {
    padding-top: 100px;
    background-color: #141F30;
}

.advantages_inner {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    background: radial-gradient(#3B4754 0%, #141F30 50%);
    background-size: 700px 700px;
    background-repeat: no-repeat;
    background-position: center;
}

.step {
    display: flex;
    align-items: center;
    padding: 30px;
    position: relative;
}
.step_icon {
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step_icon img{
    max-width: 380px;
    width: auto;
    height: auto;
    align-self: stretch;
    object-fit: cover;
}

.step_content {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;

}

.step_content.left {
    flex-direction: row;
}

.step_content.right {
    flex-direction: row-reverse;
    text-align: right;
}

.step_title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 15px;
    color: #657A90;
}

.step_text {
    line-height: 1.6;
}
/* 特徴 end*/


/* サービスのご案内 */

.services {
    padding-top: 150px;
    background-color: #141F30;
}

.services_inner {
    text-align: center;
    background: radial-gradient(#3B4754 0%, #141F30 50%);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.services_wrapper {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 40px auto 0 auto;
}

.services_item {
    position: absolute;
    width: 200px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services_item img{
    position: absolute;
    top: 22%;
    left: 50%;
    width: 170px;
    height: 170px;
    object-fit: contain;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease;
}

.services_item:hover img {
    transform: translate(-50%, -50%) scale(1.2);
}

.services_item p {
    position: relative;
    color: #E48F0D;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    z-index: 2;
    transition: transform 0.5s ease;
}

.services_item.center {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.services_item.left {
    top: 290px;
    left: 10%;
    transform: translateX(-50%);
}

.services_item.right {
    top: 290px;
    left: 90%;
    transform: translateX(-50%);
}
/* サービスのご案内 end*/


/*　修理　*/
.repair {
    background-color: #141F30;
    padding: 150px 0;
}

.repair_inner {
    padding-top: 30px;
    max-width: 1200px;
    margin: 100px auto 0 auto;
    border: 1px dotted #C9D3DD;

}

.repair_subtext {
    text-align: center;
    max-width: 1200px;
    width: auto;
    font-size: 14;
    padding: 5px;
    margin: 0 auto;
}

.repair_grid {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    justify-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
    background: radial-gradient(#3B4754 0%, #141F30 50%);
    background-size: 410px 410px;
    background-repeat: no-repeat;
    background-position: center;
}

.repair_card {
    width: 100%;
    height: 200px;
    max-width: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.repair_card:hover {
    transform: scale(1.05);
}

.repair_card img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px dotted #C9D3DD;
}

.repair_text {
    width: 300px;
    height: 100px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    font-size: 18px; 
    text-align: center; 
    font-weight: bold;   
    line-height: 1.4;
    border: 1px dotted #C9D3DD;
    padding: 0.5em 1em;
}

.repair_buttons {
    padding-top: 50px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    gap: 10px;
}

.button_consultation {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #E48F0D;
    width: 215px;
    height: 45px;
    font-size: 16px;
    transition: background 0.3s ease;
}

.button_consultation:hover{
    background: linear-gradient(to bottom, #3B4754, #657A90);
}

.button_details{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E48F0D;
    width: 215px;
    height: 45px;
    transition: background 0.3s ease;
}

.button_details:hover {
    border: 1px solid white;
    color: #E48F0D;
}

.price {
    color: #E48F0D;
}

/*　修理　end */

/* メンテナンス */

.maintenance {
    background-color: #141F30;
}

.container {
    max-width: 1200px;
    margin: 0 auto 50px;
    display: flex;
    gap: 30px;
    border: 1px dotted #C9D3DD;
    padding: 20px;
    align-items: flex-start;
}

.container_text {
    flex: 1;
    max-width: 460px;
    font-size: 14px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    object-fit: cover;
}

.container_text p {
    margin: 0;
}

.maintenance_image {
    flex: 1;
    display: flex;
    align-self: stretch;
}

.maintenance_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bigprice {
    margin: 0 0;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #E48F0D;
}

.button_border {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E48F0D;
    width: 215px;
    height: 45px;
}

.button_orange {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #E48F0D;
    width: 215px;
    height: 45px;
}

/* メンテナンス end*/


/* 支払方法 */
.payment {
    border: 1px dotted #C9D3DD;
    max-width: 1200px;
    margin: 0 auto;
    background: radial-gradient(#3B4754 0%, #141F30 50%);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-position: center top;
    align-items: center;
}

.payment_subtext {
    text-align: center;
    max-width: 1200px;
    width: auto;
    font-size: 14;
    padding: 40px;
    margin: 0 auto;
}

.boldtext {
    font-weight: bold;
}

.payment_methods {
    justify-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.payment_scroller {
    overflow: hidden;
    position: relative;
    max-width: 1200px;
    margin: 20px auto 50px;
}

.payment_grid {
    display: flex;
    gap: 30px;
    animation: scroll-left 40s linear infinite;
    align-items: center;
    width: max-content;
}

.payment_grid img {
    width: 110px;
    height: auto;
    flex-shrink: 0;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* 支払方法　end */


/*　お問合せ　*/

.consultation {
    background: radial-gradient(#3B4754 0%, #141F30 50%);
    background-size: 500px 500px;
    background-repeat: no-repeat;
    background-position: center;
}

.consultation_text {
    border: 1px dotted #C9D3DD;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0 50px;
    text-align: center;
}

.telephone {
    color: #798DA3;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

.consultation_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 0;
    width: 215px;
    height: 45px;
    border: 1px solid #E48F0D;
}

.consultation_button:hover {
    border: 1px solid white;
    color: #E48F0D;
}

/*　お問合せ　end*/


/* アクセス */
.access_container {
    max-width: 1200px;
    min-height: 250px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    border: 1px dotted #C9D3DD;
    padding: 20px;
    align-items: stretch;
    margin: 0 auto;
    margin-bottom: 50px;
}

.access_item {
    display: flex;
    align-items: center;
    gap: 15px;
}
.access_icon {
    width: 30px;
    height: auto;
    flex-shrink: 0;
}

.access_text {
    max-width: 300px;
    text-align: left;
    flex: 1;
    font-size: 18px;
    object-fit: cover;
    line-height: 2;
}

.access_map {
    flex: 1; /* allow it to take more space */
    align-self: stretch;
    display: flex;
}

.access_map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/*　アクセス　end*/

.footer {
    margin: 0 auto;
    padding: 10px 100px;
    max-width: 1200px;            
    width: 100%;                  
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    background: linear-gradient(#141F30 0%, #000000 60%);
    z-index: 10;  
}

.footer_sns{
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer_sns img {
    width: 40px;
}

/*フッター*/



/*フッタ end*/