@charset "UTF-8";

a {
    text-decoration: none;
}


body {
    box-sizing: border-box;
    background-color: #141F30;
    color: white;
}

/*.header {
    margin: 0 auto;
    padding: 0 40px;
    width: auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    position: relative;
    background-color: black;
    z-index: 10;
}*/

.header {
    position: fixed;              
    top: 0;                       
    left: 0;
    right: 0;

    margin: 0 auto;
    max-width: 1000px;            
    width: 100%;                  

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;

    background-color: black;
    z-index: 10;                
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.header_logo img{
    margin-left: 100px;
    width: 100px;
}

.header_nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
    padding-left: 0;
}


.header_nav a:hover{
    color: #E48F0D;
}

.header_contacts {
    margin-right: 100px;
    text-align: right;
    font-size: 12px;
    line-height: 1.2;
}

.header_contacts a{
    display: inline-block;
    margin-top: 6px;
    text-decoration: none;
}

main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 650px;
    background-image: url(./blackbike.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;

}

a {
    color: white;
}

.companyPhrase {
    font-size: 18px;
}
.button_top {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #E48F0D;
    width: 215px;
    height: 45px;
    font-size: 16px;
    transition: background 0.3s ease;
}

.button_top:hover{
    background: linear-gradient(to bottom, #3B4754, #657A90);
}

.highlight {
    color: #657A90;
}

.topcontent {
    text-align: left;
    max-width: 800px;
    width: auto;
    font-size: 48px;
    margin-left: 100px;
    line-height: 1.2;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.topcontent p{
    margin-bottom: 20px;
}

p.wordsAboutTeam {
    font-size: 18px;
    margin-top: 0;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h3 {
    color: #657A90;
    font-size: 24px;
}

p.sectionDescription {
    text-align: center;
    max-width: 800px;
    width: auto;
    border: 1px dotted #C9D3DD;
    font-size: 14;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.features {
    display: grid;
    grid-template-columns: 150px 500px 1fr;
    grid-template-rows: auto auto auto;
    padding-left: 70px;
}

.gridItem {
    grid-column: 2;
    text-align: left;
}

.gridItemIcon1 {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
}

.gridItemIcon2 {
    grid-row: 2;
    grid-column: 3;
    align-self: center;
}
.gridItemIcon3 {
    grid-row: 3;
    grid-column: 1;
    align-self: center;
}

.featureIcon {
    height: 80%;
    width: 80%;
}

.container {
    max-width: 800px;
    width: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border: 1px dotted #C9D3DD;
    padding: 30px;
    align-items: stretch;
    margin: 0 auto;
    margin-bottom: 50px;
}

.container_text {
    max-width: 420px;
    text-align: left;
    flex: 1;
    font-size: 14px;
}

.container_image {
    max-width: 380px;
    width: auto;
    height: auto;
    align-self: stretch;
    object-fit: cover;
}

.bigprice {
    font-size: 30px;
    font-weight: bold;
    color: #E48F0D;
}

.button_border {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E48F0D;
    width: 215px;
    height: 45px;

}

.button_orange {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #E48F0D;
    width: 215px;
    height: 45px;
}